body {
  font-family: 'Gloria Hallelujah', cursive;
  width: max-content;
  margin: 0;
  font-size: 1rem;
  user-select: none;
}

label {
  font-family: 'Gloria Hallelujah', cursive;
}

.popup-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  background-color: rgb(111, 150, 219);
  color: white;
  width: 100%;
  padding: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.checkbox-container input[type="checkbox"] {
  margin-left: 1rem;
}

.popup-content {
  font-family: monospace;
  padding: 5px;
}

button {
  width: 100%;
  font-family: 'Gloria Hallelujah', cursive;
}
